# ソースのみの管理とする
*.class
# /kadai1

# emacsのバックアップファイル
*~
\#*\#

# vimのマクロ
*.vim

# tex
*.aux
*.dvi
*.log

# 階層にかかわらず特定の名前のディレクトリ
*tmp/

# tex のあれこれ
*_minted-*/
*.aux
*.dvi
*.log
*.nav
*.out
*.snm
*.toc
